<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>ai.tirosh.vitalserver.helper.automatic-backup</string>

  <key>ProgramArguments</key>
  <array>
    <string>${VITALSERVER_VM_BIN}</string>
    <string>runtime</string>
    <string>automatic-backup</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>VITALSERVER_VM_HOME</key>
    <string>${VITALSERVER_VM_HOME}</string>
  </dict>

  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key>
      <integer>3</integer>
      <key>Minute</key>
      <integer>15</integer>
    </dict>
  </array>

  <key>ThrottleInterval</key>
  <integer>60</integer>

  <key>StandardOutPath</key>
  <string>${VITALSERVER_RUNTIME_LOGS}/automatic-backup.out.log</string>

  <key>StandardErrorPath</key>
  <string>${VITALSERVER_RUNTIME_LOGS}/automatic-backup.err.log</string>
</dict>
</plist>

